body {
  padding: 50px;
  font-family: "Poppins" !important;
  background: url('https://img.freepik.com/free-vector/white-abstract-background_23-2148806276.jpg') no-repeat;
  background-size: cover;
}

a {
  color: #00B7FF;
}


#snackbarSuccess {
  visibility: hidden; 
  min-width: 250px; 
  margin-left: -125px; 
  background: linear-gradient(to right, #5AFF15, #00B712); 
  color: #000; 
  text-align: center; 
  border-radius: 9px; 
  padding: 16px; 
  position: fixed; 
  z-index: 1; 
  left: 50%; 
  bottom: 30px; 
}


#snackbarSuccess.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbarDanger {
  visibility: hidden; 
  min-width: 250px; 
  margin-left: -125px; 
  background: linear-gradient(to right, #FF0000, #990000); 
  color: #fff; 
  text-align: center; 
  border-radius: 9px; 
  padding: 16px; 
  position: fixed; 
  z-index: 1; 
  left: 50%; 
  bottom: 30px; 
}


#snackbarDanger.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.center-div{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}